@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

:root {
  --background: #fefae0;
  --normal: #a8a878;
  --fighting: #c03028;
  --flying: #a890f0;
  --poison: #a040a0;
  --ground: #e0c068;
  --rock: #b8a038;
  --bug: #a8b820;
  --ghost: #705898;
  --steel: #b8b8d0;
  --fire: #f08030;
  --water: #6890f0;
  --grass: #78c850;
  --electric: #f8d030;
  --psychic: #f85888;
  --ice: #98d8d8;
  --dragon: #7038f8;
  --dark: #705848;
  --fairy: #ee99ac;
  --unknown: #68a090;
  --shadow: #682a68; /* dark poison - couldn't find the right one */
}

/*********************************************** 
FONT CSS RULE

font-family: 'Maiden Orange', cursive;
************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****** GLOBAL STYLES  ******/

body {
  background-color: var(--background);
  font-family: "Maiden Orange", cursive;
  max-width: 600px;
  margin: auto;
}
/****** END GLOBAL STYLES  ******/

/****** HEADER  ******/
h1 {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
}

/****** END HEADER  ******/

/****** MAIN  ******/

/* 
.img-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 80%;
  width: 70px;
  height: 70px;
}

.number {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 2px 5px;
  text-align: center;
}


.info {
  margin-top: 5px;
}



.name {
  font-size: 0.8em;
  padding: 2px 5px;
  text-align: center;
}

.type {
  font-size: 0.8em;
  padding: 2px 5px;
  text-align: center;
} */

/****** END MAIN  ******/
