@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

:root {
  --background: #fefae0;
  --normal: #a8a878;
  --fighting: #c03028;
  --flying: #a890f0;
  --poison: #a040a0;
  --ground: #e0c068;
  --rock: #b8a038;
  --bug: #a8b820;
  --ghost: #705898;
  --steel: #b8b8d0;
  --fire: #f08030;
  --water: #6890f0;
  --grass: #78c850;
  --electric: #f8d030;
  --psychic: #f85888;
  --ice: #98d8d8;
  --dragon: #7038f8;
  --dark: #705848;
  --fairy: #ee99ac;
  --unknown: #68a090;
  --shadow: #682a68; /* dark poison - couldn't find the right one */
}

/*********************************************** 
FONT CSS RULE

font-family: 'Maiden Orange', cursive;
************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****** GLOBAL STYLES  ******/

body {
  background-color: var(--background);
  font-family: "Maiden Orange", cursive;
}

/****** END GLOBAL STYLES  ******/

/****** HEADER  ******/

/****** END HEADER  ******/
