@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

:root {
  --background: #fefae0;
  --primary: #fbe8bd;
  --normal: #a8a878;
  --fighting: #c03028;
  --flying: #a890f0;
  --poison: #a040a0;
  --ground: #e0c068;
  --rock: #b8a038;
  --bug: #a8b820;
  --ghost: #705898;
  --steel: #b8b8d0;
  --fire: #f08030;
  --water: #6890f0;
  --grass: #78c850;
  --electric: #f8d030;
  --psychic: #f85888;
  --ice: #98d8d8;
  --dragon: #7038f8;
  --dark: #705848;
  --fairy: #ee99ac;
  --unknown: #68a090;
  --shadow: #682a68; /* dark poison - couldn't find the right one */
}

/*********************************************** 
FONT CSS RULE

font-family: 'Maiden Orange', cursive;
************************************************/

:root {
  --secondary: #fe4880;
  --dark: #212121;
  --light: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
}

main {
  font-family: "Maiden Orange", cursive;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
}

.cards-contaioner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px auto 0;
  width: 180px;
  height: 250px;
  perspective: 800px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--steel)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom left,
    var(--primary) 10%,
    var(--steel) 115%
  );
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pokemon-image {
  display: block;
  margin: auto;
  margin-top: 4px;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
}

.card__header h2 {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  text-decoration: underline;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  text-align: center;
  margin-top: 5px;
}

.card__body h3 {
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.card__body p {
  color: rgb(0, 0, 0);
  margin-top: 7px;
}
